.idea/
product-card-service/build/
product-card-service/cmake-build-debug/
product-card-service/cmake-build-release/
product-card-builder/build/
product-card-builder/.gradle/
product-card-builder/.kotlin/
